---
header_msg: >
   Welcome to the Avocado website creator.  Here you can easily create a basic website for free.  You
   can create up to 6 pages.  You can include an image for each page.  The image will be
   displayed at the top of each page.  After you are done, click continue to preview your website.
footer_msg: >
   If you have any questions or comments, please feel free to contact us.  Our contact 
   information is on our website, which is <a href='https://www.gem-editor.com'>www.gem-editor.com</a>.
page_names:
  - Home
  - Announcements
  - About Us
  - Services
  - FAQ
  - Blog
  - Location
  - Comments
  - Contact Us
---
<!DOCTYPE HTML>
<html lang="en">
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="https://www.gem-editor.com/gwc/">
<link href="/images/gem.ico" rel="icon" type="image/x-icon" />
<style type="text/css">
        /* body { background: #ccc;} */
        div.jHtmlArea .ToolBar ul li a.justify_button 
        {
            background: url(images/text_align_justify.png) no-repeat;
            background-position: -1px -1px;
        }
        div.jHtmlArea .ToolBar ul li a.remove_formatting_button 
        {
            background: url(images/style_delete.png) no-repeat;
            background-position: 0 0;
        }
        div.jHtmlArea .ToolBar ul li a.icon_button 
        {
            background: url(images/application_view_icons.png) no-repeat;
            background-position: 0 0;
        }
        div.jHtmlArea .ToolBar ul li a.upload_button 
        {
            background: url(images/drive-upload.png) no-repeat;
            background-position: 0 0;
        }
        div.jHtmlArea .ToolBar ul li a.undo_button 
        {
            background: url(images/ui-icons_222222_256x240.png) no-repeat;
            background-position: -128px -64px;
        }
        div.jHtmlArea .ToolBar ul li a.redo_button 
        {
            background: url(images/ui-icons_222222_256x240.png) no-repeat;
            background-position: -160px -64px;
        }
        div.jHtmlArea .ToolBar ul li a.css_button 
        {
            background: url(images/css.png) no-repeat;
            background-position: 0 0;
        }
        div.jHtmlArea {border: solid 1px #ccc; }
    </style>
<link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="style/style.css">

	<title>GEM Website Editor</title>
</head>
<body id="demo" onload="resizeHtmlEditor()" onresize="resizeHtmlEditor()" contextmenu="websitemenu">
<datalist id="pnames">
  {% assign my_counter = 0 %}
  {% for item in page.page_names %}
     {% assign my_counter = my_counter | plus: 1 %}
     <option id="option{{ my_counter }}" value="{{ item }}">
  {% endfor %}	  
</datalist>
{% if site.show_navbar == false %}
<!-- Context Menu, Firefox Only -->
<div contextmenu="mymenu">

<menu type="context" id="websitemenu">
  <menuitem label="Open Website" id="opnmi"></menuitem>
  <menuitem label="Submit Website" id="submi"></menuitem>
  <menuitem label="Website Options" id="optmi"></menuitem>
</menu>

</div>
{% endif %}
{% if site.show_navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="javascript:document.getElementById('pname1').focus()">Page 1</a></li>
      <li><a href="javascript:document.getElementById('pname2').focus()">Page 2</a></li>
      <li><a href="javascript:document.getElementById('pname3').focus()">Page 3</a></li>
      <li><a href="javascript:document.getElementById('pname4').focus()">Page 4</a></li>
      <li><a href="javascript:document.getElementById('pname5').focus()">Page 5</a></li>
      <li><a href="javascript:document.getElementById('pname6').focus()">Page 6</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Options
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" id="opnmi"">Open Website</a></li>
          <li><a href="javascript:void(0)" id="submi">Submit Website</a></li>
          <li><a href="javascript:void(0)" id="optmi">Website Options</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div style="padding-top: 50px;"></div>
{% endif %}
<br>
<div class="container">
    {% if site.show_header %} 
    <div class="panel panel-primary" accesskey="t">
       <div class="panel-body">
	   {{ page.header_msg }}
       </div>
    </div>
    <br>
    {% endif %}
    <form class="form-horizontal" id="webdata" action="website_submit.php" method="post"
          autocomplete="off" enctype="multipart/form-data" target="_blank">
         <div class="panel panel-default">
            <div class="panel-heading" id="ptext1"><i class="fa fa-2x">①</i></div>
            <div class="panel-body">
                  <div class="col-lg-4 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pname" class="col-lg-12"><span class="fa fa-pencil"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pname1" placeholder="Enter Page Name" 
                         name="pname1" list="pnames" oninput="em_txt(this)" accesskey="1">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-6 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pimage" class="col-lg-12"><span class="fa fa-photo"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pimage1" name="pimage1" readonly style="display: none;">
                     </div>   
                     <div class="col-lg-12">
                        <input type="file" class="form-control" id="files" name="file1">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <label for="content" class="col-lg-12"><span class="fa fa-edit"></label>
                     <div class="col-lg-12">
                        <textarea class="form-control" spellcheck="false" rows="10" id="content1" name="content1" autofocus></textarea>
                     </div>   
                  </div>   
            </div>
         </div>
         <div class="panel panel-primary">
            <div class="panel-heading" id="ptext2"><i class="fa fa-2x">②</i></div>
            <div class="panel-body">
                  <div class="col-lg-4 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pname" class="col-lg-12"><span class="fa fa-pencil"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pname2" placeholder="Enter Page Name" 
                         name="pname2" list="pnames" oninput="em_txt(this)" accesskey="2">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-6 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pimage" class="col-lg-12"><span class="fa fa-photo"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pimage2" name="pimage2" readonly style="display: none;">
                     </div>
                     <div class="col-lg-12">
                        <input type="file" class="form-control" id="files" name="file2">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <label for="content" class="col-lg-12"><span class="fa fa-edit"></label>
                     <div class="col-lg-12">
                        <textarea class="form-control" spellcheck="false" rows="10" id="content2" name="content2"></textarea>
                     </div>   
                  </div>
            </div>
         </div>
         <div class="panel panel-success">
            <div class="panel-heading" id="ptext3"><i class="fa fa-2x">③</i></div>
            <div class="panel-body">
                  <div class="col-lg-4 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pname" class="col-lg-12"><span class="fa fa-pencil"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pname3" placeholder="Enter Page Name" 
                         name="pname3" list="pnames" oninput="em_txt(this)" accesskey="3">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-6 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pimage" class="col-lg-12"><span class="fa fa-photo"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pimage3" name="pimage3" readonly style="display: none;">
                     </div>
                     <div class="col-lg-12">
                        <input type="file" class="form-control" id="files" name="file3">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <label for="content" class="col-lg-12"><span class="fa fa-edit"></label>
                     <div class="col-lg-12">
                        <textarea class="form-control" spellcheck="false" rows="10" id="content3" name="content3"></textarea>
                     </div>   
                  </div>
            </div>
         </div>
         <div class="panel panel-info">
            <div class="panel-heading" id="ptext4"><i class="fa fa-2x">④</i></div>
            <div class="panel-body">
                  <div class="col-lg-4 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pname" class="col-lg-12"><span class="fa fa-pencil"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pname4" placeholder="Enter Page Name" 
                         name="pname4" list="pnames" oninput="em_txt(this)" accesskey="4">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-6 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pimage" class="col-lg-12"><span class="fa fa-photo"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pimage4" name="pimage4" readonly style="display: none;">
                     </div>
                     <div class="col-lg-12">   
                        <input type="file" class="form-control" id="files" name="file4">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <label for="content" class="col-lg-12"><span class="fa fa-edit"></label>
                     <div class="col-lg-12">
                        <textarea class="form-control" spellcheck="false" rows="10" id="content4" name="content4"></textarea>
                     </div>   
                  </div>
            </div>
         </div>
         <div class="panel panel-warning">
            <div class="panel-heading" id="ptext5"><i class="fa fa-2x">⑤</i></div>
            <div class="panel-body">
                  <div class="col-lg-4 fa has-feedback" style="padding-bottom: 20px;"> 
                     <label for="pname" class="col-lg-12"><span class="fa fa-pencil"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pname5" placeholder="Enter Page Name" 
                         name="pname5" list="pnames" oninput="em_txt(this)" accesskey="5">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-6 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pimage" class="col-lg-12"><span class="fa fa-photo"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pimage5" name="pimage5" readonly style="display: none;">
                     </div>
                     <div class="col-lg-12">   
                        <input type="file" class="form-control" id="files" name="file5">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <label for="content" class="col-lg-12"><span class="fa fa-edit"></label>
                     <div class="col-lg-12">
                        <textarea class="form-control" spellcheck="false" rows="10" id="content5" name="content5"></textarea>
                     </div>   
                  </div>
            </div>
         </div>
         <div class="panel panel-danger">
            <div class="panel-heading" id="ptext6"><i class="fa fa-2x">⑥</i></div>
            <div class="panel-body">
                  <div class="col-lg-4 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pname" class="col-lg-12"><span class="fa fa-pencil"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pname6" placeholder="Enter Page Name" 
                         name="pname6" list="pnames" oninput="em_txt(this)" accesskey="6">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-6 fa has-feedback" style="padding-bottom: 20px;">
                     <label for="pimage" class="col-lg-12"><span class="fa fa-photo"></span></label>
                     <div class="col-lg-12">
                        <input type="text" class="form-control" id="pimage6" name="pimage6" readonly style="display: none;">
                     </div>
                     <div class="col-lg-12">
                        <input type="file" class="form-control" id="files" name="file6">
                        <span class="form-control-feedback"></span>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <label for="content" class="col-lg-12"><span class="fa fa-edit"></label>
                     <div class="col-lg-12">
                        <textarea class="form-control" spellcheck="false" rows="10" id="content6" name="content6"></textarea>
                     </div>   
                  </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <button type="button" class="btn btn-primary btn-block btn-lg" id="subbtn" accesskey="s">
               <span class="fa fa-check"></span>
                Continue</button>
               <br>
            </div>
            <div class="col-sm-4">
               <button type="button" class="btn btn-danger btn-block btn-lg" id="rstbtn">
               <span class="fa fa-remove"></span>
                Cancel</button>
               <br>
            </div>
            <div class="col-sm-4">
               <button type="button" class="btn btn-info btn-block btn-lg"
                id="optbtn" accesskey="o"><span class="fa fa-list-ul"></span>
                Options</button>
               <br>
            </div>
         </div>
        <!-- Options Modal -->
        <div class="modal fade" id="optModal">
           <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Options</h4>
                 </div>
                 <div class="modal-body">
                    <div class="form-group">
                       <label class="control-label col-sm-2" for="title">Title:</label>
                       <div class="col-sm-10">
                          <input type="text" class="form-control" spellcheck="false" id="title" name="title">
                       </div>
                    </div>
                    <br>
                    <div class="checkbox">
                       <label><input type="checkbox" value="1" id="ctform" name="ctform">
                        Include contact form on contact page.</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                       <label class="control-label col-sm-2" for="theme">Theme:</label>
                       <div class="col-sm-10">
                          <select class="form-control" id="theme" name="theme">
			     {% for item in site.data.themes %}
                             <option id="{{ item.name | prepend: "theme" }}" value="{{ item.name }}">{{ item.cssf }} {{ item.desc }}</option>
		             {% endfor %}
                          </select>
                       </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-default" id="cssbtn" accesskey="c">Edit CSS</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-default" id="opnbtn" accesskey="w">Open Website</button>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="clsbtn1">OK</button>
                 </div>
              </div>
           </div>
        </div>
        <!-- CSS Modal -->
        <div class="modal fade" id="cssModal">
           <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">CSS</h4>
                 </div>
                 <div class="modal-body">
                       <label for="comment">Enter or Modify CSS for Website:</label>
                       <textarea class="form-control" rows="8" spellcheck="false" id="css" name="css" autofocus></textarea>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="opncss">Open</button>
                    <button type="button" class="btn btn-default" id="newcss">New</button>
                    <button type="button" class="btn btn-default" onclick="css_update_ta()" data-dismiss="modal">OK</button>
                 </div>
              </div>
           </div>
        </div>
        <!-- Open Website Modal -->
        <div class="modal fade" id="openModal">
           <div class="modal-dialog modal-sm">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Open Website</h4>
                 </div>
                 <div class="modal-body">
                       <label for="comment">Please select website file:</label>
                       <input type="file" class="form-control" id="wsfile" name="files[]" />
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="clsbtn2">Close</button>
                 </div>
              </div>
           </div>
        </div>
        <!-- Open CSS Modal -->
        <div class="modal fade" id="opencssModal">
           <div class="modal-dialog modal-sm">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Open CSS</h4>
                 </div>
                 <div class="modal-body">
                       <label for="comment">Please select CSS file:</label>
                       <input type="file" class="form-control" id="cssfile" name="files[]" />
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="clsbtn3">Close</button>
                 </div>
              </div>
           </div>
        </div>
     </form>
     {% if site.show_footer %}
     <br>
     <div class="panel panel-primary" accesskey="b">
        <div class="panel-body">
            {{ page.footer_msg }}
	</div>
	{% if site.social_media_icons %}
	<div class="panel-footer">
		{% if site.facebook_url != nil %}
		<a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook-square fa-2x" style="color: #3b5898;"></i></a>
		{% endif %}
		{% if site.google_plus_url != nil %}
		<a href="{{ site.google_plus_url }}" target="_blank"><i class="fa fa-google-plus-square fa-2x" style="color: #db4437;"></i></a>
		{% endif %}
		{% if site.github_url != nil %}
		<a href="{{ site.github_url }}" target="_blank"><i class="fa fa-github-square fa-2x" style="color: black;"></i></a>
		{% endif %}
	</div>
	{% endif %}
     </div>
     {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body">
          <p>You have already entered that page name.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Upload Modal -->
  <div class="modal fade" id="ulModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Image Upload</h4>
        </div>
        <div class="modal-body">
           <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
              <div id="image_preview"><img id="previewing" src="images/noimage.png" /></div>
              <hr id="line">
              <div id="selectImage">
                 <label>Select Your Image</label><br/>
                 <input type="file" name="file" id="file" required />
                 <input type="submit" value="Upload" class="submit" />
              </div>
           </form>
           <h4 id='loading' >Loading..</h4>
           <div id="message"></div>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Icons Modal -->
    <div class="modal fade" id="iconsModal">
     <div class="modal-dialog modal-sm">
        <div class="modal-content">
           <div class="modal-header">            
              <h4 class="modal-title">Insert Icons</h4>
           </div>
           <div class="modal-body fa" id="iconsDisp" style="overflow-y: auto; height: 250px;
            line-height: 1.4;">
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" id="iconsbtn">Icons</button>
              <button type="button" class="btn btn-default" id="emojisbtn">Emojis</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="iconscls">Close</button>
           </div>
        </div>
     </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/jHtmlArea-0.8.js"></script>
<script type="text/javascript" src="scripts/jHtmlArea.ColorPickerMenu-0.8.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ "/scripts/website_editor.js" | absolute_url }}"></script>
<script src="scripts/script.js"></script>
</body>
</html>
